body {
    background-color: #f8f9fa;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.header {
    background-color: #ffcc00; /* Main color */
    text-align: center;
    color: #333;
}
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}
.btn-custom {
    background-color: #ffcc00; /* Main color */
    color: #333;
}
.btn-custom:hover {
    background-color: #e6b800; /* Darker shade for hover */
}

.logo {
    max-height: 300px;
    max-width: 300px;
    display: block;  /* Center the image if needed */
    margin: 0 auto;  /* Center the image */
    size-adjust: 30%;
}